@media (max-width:480px){
*{
        font-size:18px;
    }
header{
    padding:5px
}
nav ul{
    flex-direction: column;
    text-align:center;
}
nav ul li{
    flex-direction: column;
    text-align:center;
}
nav ul li a{
    flex-direction:row;
    text-align:center;
}
.hero{
    padding:50px;
   
    text-align:center;
    height:300px;
}
.btn{
    width:100%
}
.hed{
    font-size:medium;
} 
.me img{
    object-fit:cover;
    border-radius:10px;
    overflow: hidden;
    width:150%;
    height:80%;
    display:block;
    margin:0;
}
.hero div{
    flex-direction: column;
    text-align:center;

}  
.about
.exper
.services
.skills
.contact
.footer
{
text-align:center;
padding:20px;
}
.form input
.form textarea{
    width:100%;
    outline:none;
    gap:15%;
    display:flex;flex-direction:row;


    
}

  

}

